.input-card {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  width: 100%;
  max-width: 300px;
}

.card-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: var(--primary-color);
  padding: var(--standard-padding);
  color: var(--text-color);
  border: none;
  border-radius: 15px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--standard-gap);
}

.form-container {
  padding: var(--standard-gap);
  gap: var(--standard-gap);
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

label,
.input-group {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
}

.on-going-label {
  flex-direction: row;
}

input,
textarea {
  background-color: var(--secondary-color);
  padding: var(--input-padding);
  border-radius: 10px;
  border: none;
  color: var(--text-color);
  font-family: inherit;
  color-scheme: light;
}

input:focus {
  outline: 1px solid var(--accent-color);
}

textarea {
  resize: vertical;
  width: 100%;
}

.skill-banner {
  padding: var(--small-padding);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: var(--small-gap);
}

.education-banner {
  display: flex;
  align-items: center;
  gap: var(--small-gap);
  padding: var(--standard-padding);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.skill-banner > p,
.education-banner > p,
.skill-banner > input {
  flex: 1;
}

.skill-banner > p,
.education-banner > p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.add-skills-button-container {
  display: flex;
  gap: var(--small-gap);
  justify-content: center;
  align-items: center;
}

.skills-banner-container,
.extra-info-container {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
}

.form-button {
  padding: var(--small-padding);
  background-color: var(--accent-color);
  border-radius: 10px;
  border: 2px solid var(--accent-color);
  transition-duration: 200ms;
}

.form-button:hover {
  background-color: var(--primary-color);
  color: var(--accent-color);
}

.cancel-button {
  background-color: var(--cancel-color);
  border: 2px solid var(--cancel-color);
}

.cancel-button:hover {
  color: var(--cancel-color);
}

.top-button-container {
  flex-direction: row;
  gap: var(--small-gap);
  box-shadow: none;
}

.top-button-container > button {
  flex: 1 1 0px;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.clear-all-button {
  background-color: var(--cancel-color);
  color: var(--primary-color);
  box-shadow: var(--box-shadow);
}

.load-example-button {
  box-shadow: var(--box-shadow);
  background-color: var(--accent-color);
  color: var(--primary-color);
}
