.input-card {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  min-width: 250px;
}

.card-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: var(--primary-color);
  padding: var(--standard-padding);
  color: var(--text-color);
  border: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--standard-gap);
}

.form-container {
  padding: var(--standard-gap);
  gap: var(--standard-gap);
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
}

input,
textarea {
  background-color: var(--secondary-color);
  padding: var(--input-padding);
  border-radius: 10px;
  border: none;
  color: var(--text-color);
  font-family: inherit;
}

input:focus {
  outline: 1px solid var(--accent-color);
}

textarea {
  resize: vertical;
}

.skills-banner {
  padding: var(--small-padding);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: var(--small-gap);
}

.skills-banner > p,
.skills-banner > input {
  flex: 1;
}

.skills-banner > p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.add-skills-button-container {
  display: flex;
  gap: var(--small-gap);
  justify-content: center;
  align-items: center;
}

.skills-banner-container {
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
}

.form-button {
  padding: var(--small-padding);
  background-color: var(--accent-color);
  border-radius: 10px;
  border: 2px solid var(--accent-color);
  transition-duration: 200ms;
}

.form-button:hover {
  background-color: var(--primary-color);
  color: var(--accent-color);
}

.cancel-button {
  background-color: var(--cancel-color);
  border: 2px solid var(--cancel-color);
}

.cancel-button:hover {
  color: var(--cancel-color);
}
