* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --small-padding: clamp(0.3rem, 0.05rem + 0.5vw, 0.8rem);
  --standard-padding: clamp(0.7rem, 0.2rem + 2vw, 1.5rem);
  --large-padding: clamp(1rem, 0.2rem + 2.5vw, 2.5rem);
  --standard-margin: clamp(0.8rem, 0.2rem + 2vw, 1.5rem);
  --standard-gap: clamp(0.8rem, 0.2rem + 2vw, 1.5rem);
  --small-gap: clamp(0.2rem, 0.01rem + 0.4vw, 0.7rem);
  --input-padding: clamp(0.2rem, 0.01rem + 0.5vw, 0.7rem);
  --background-color: #f8fbfd;
  --primary-color: #f8fbfd;
  --secondary-color: #e7e9ea;
  --accent-color: #4eb7e9;
  --text-color: #081013;
  --cancel-color: #ea6767;
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media screen and (min-width: 0) {
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    color: var(--text-color);
  }

  h1 {
    font-size: clamp(1.3rem, 0.1rem + 2vw, 2rem);
  }

  h2 {
    font-size: clamp(1.1rem, 0.1rem + 1.5vw, 1.3rem);
  }

  h3 {
    font-size: clamp(1rem, 0.1rem + 1.2vw, 1.1rem);
  }

  p,
  li {
    font-size: clamp(0.9rem, 0.1rem + 1vw, 1rem);
  }

  .fa-icon {
    cursor: pointer;
  }

  header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--standard-padding);
  }

  main {
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: var(--standard-margin);
    padding: var(--standard-padding);
    gap: var(--standard-gap);
  }

  section {
    width: 100%;
    max-width: 500px;
    padding: var(--standard-padding);
  }

  .input-container {
    display: flex;
    flex-direction: column;
    gap: var(--standard-gap);
  }

  .resume-container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  }

  /* display part */

  .resume {
    box-shadow: var(--box-shadow);
    width: 100%;
    min-width: 700px;
    max-width: 800px;
    min-height: 100vh;
    padding: var(--large-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--standard-gap);
    text-align: justify;
  }

  .resume > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
  }

  .basic-information-display-container {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
    align-items: center;
  }

  .contact-information {
    display: flex;
    gap: var(--standard-gap);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .contact-information-group {
    display: flex;
    align-items: center;
    gap: var(--small-gap);
  }

  .skills-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: inside;
    gap: var(--small-gap);
  }

  .education-display-container {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
  }

  .education-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .education-extra-info {
    list-style: inside;
  }
}

@media screen and (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: row;
  }
}
